.chosen-container, .chosen-results{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #5F98B9;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-family: "HelveticaNeue";
    width: 100% !important;
}