.prod-card-wish.active .inactive-wishlist-icon, .wishlist-add.active .inactive-wishlist-icon{
    display: block;
}
.checkout-btn{
  @extend .popup-btn;
  color: #F5F5F5;
  font-family: "HelveticaNeue";
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 0;
  background-color: #5F98B9;
  display: block;
}
.aside-filter-menu-item-filters .overflow-scroll {
  height: 250px;
  width: 150px;
  overflow-x: hidden;
  margin-bottom: 10px;
  padding-left: 20px;
}
.aside-filter-menu-item-filters label {
  color: #4a4a4a;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  position: relative;
}
.color-filters .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
}
.not-valid + .checkbox-custom{
  border-color: #f00;
}
.homepage-product-card-img-wrp{
  padding: 50%;
  > a, .homepage-product-card-img, .homepage-product-card-img-hover{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include centering;
  }
  .slick-slider{
    .slick-slide > div{
      padding: 50%;
    }
    &:not(.slick-initialized){
      display: flex;
      .homepage-product-card-img{
        position: relative;
      }
      img{
        visibility: hidden;
      }
    }
    &.slick-initialized{
      background-color: #fff;
    }
  }
}
.one-click-btn-wrp{
  position: relative;
}
.main-content .row{
  .homepage-product-card-img-wrp, .homepage-product-card-img-wrp .slick-slider .slick-slide > div{
    padding: 180px;
    @media screen and (max-width: 1658px){
      padding: 50%;
    }
    @include bp(sm){
      padding: 143px;
      width: 0;
    }
    @media screen and (max-width: 380px){
      padding: 50%;
    }
  }
}
.homepage-product-card-img-wrp .homepage-product-card-img{
  max-height: 250px;
}
.cart-img-wrp img{
  height: 100%;
  object-fit: contain;
}
#main-container{
  min-height: calc(100vh - 449px);
}
.homepage-product-card-text > p{
  display: block;
  min-height: 36px;
}
.agreement-container .checkbox-custom{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid transparent;
}
.agreement-container .not-valid + .checkbox-custom {
  border-color: red;
}
.agreement-container .not-valid + .checkbox-custom + label:before{
  border-color: red;
}