.prod-card-wish.active .inactive-wishlist-icon, .wishlist-add.active .inactive-wishlist-icon{
    display: block;
}
.checkout-btn{
    @extend .popup-btn;
}
.aside-filter-menu-item-filters .overflow-scroll {
    height: 250px;
    width: 150px;
    overflow-x: hidden;
    margin-bottom: 10px;
}
.aside-filter-menu-item-filters label {
  color: #4a4a4a;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}
.color-filters .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.checkout-btn{
  color: #F5F5F5;
  font-family: "HelveticaNeue";
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 0;
  background-color: #5F98B9;
  display: block;
}
.not-valid + .checkbox-custom{
  border-color: #f00;
}