.prod-card-wish.active .inactive-wishlist-icon, .wishlist-add.active .inactive-wishlist-icon{
    display: block;
}
.checkout-btn{
    @extend .popup-btn;
}
.aside-filter-menu-item-filters .overflow-scroll {
    height: 250px;
    width: 150px;
    overflow-x: hidden;
    margin-bottom: 10px;
}