// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$yellow: #ffdf00;
$dark-yellow: #e0c300;
$white: #fff;
$black: #000;
$grey: #969696;
$dark: #1E1E1E;
$orange: #fdc123;
$accent: #0098FF;
$default-font: "Ubuntu", sans-serif;